@model IEnumerable<HappyTrip.Models.Autobus>

@{
    ViewData["Title"] = "Index";
}

<center style="color:coral">
    <h1>Autobus</h1>
</center>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.matricule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.matricule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAutobus">
                    <img src="https://img.icons8.com/fluency/25/undefined/edit.png" />
                </a> |
                <a asp-action="Details" asp-route-id="@item.idAutobus">
                    <img src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/25/undefined/external-view-graphic-design-icongeek26-linear-colour-icongeek26.png" />
                </a> |
                <a asp-action="Delete" asp-route-id="@item.idAutobus">
                    <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/25/undefined/external-delete-user-interface-wanicon-lineal-color-wanicon.png" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
